body {
    background-color: $body-background;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

    p {
        color: $word-color-1;
    }

    h1, h2 {
        color: $word-color-2;
    }
}